div{
    display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   background-color: white; 
   }
   div{
    width: 80%; /* Ajuste conforme necessário */
    max-width: 400px; /* Ajuste conforme necessário */
    padding: 20px;
    text-align: center;   
}
h1{
    font-size: 2.6em;
    font-family: Roboto;
    color: black;
}
.insirir{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;

    border: 1px solid rgb(0, 0, 0);
    border-radius: 22px; /* para bordas arredondadas */
    padding: 11px; /* Espaçamento interno */
    width: 360px; /* Largura do input (ajustável) */
}
.enviar{
    color: rgb(255, 255, 255);
    background-color:#A9E08F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bolder;

    border: 1px solid black; /* Cor e espessura da borda */
    border-radius: 22px; /* Valor para bordas arredondadas */
    padding: 11px; /* Espaçamento interno */
    width: 380px; /* Largura do input (ajustável) */

}
.enviar:active {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra projetada */
}