
div{
    display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   background-color: #4B97DE; /* Cor de fundo opcional */
   }
   div{
    width: 80%; /* Ajuste conforme necessário */
    max-width: 400px; /* Ajuste conforme necessário */
    padding: 20px;
    text-align: center;   
}
h1{
    font-size: 2.6em;
    font-family: Roboto;
    color: #5645e0;
}
h3{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #5645E0;
}
.Entrar{
    color: #4B97DE;
    background-color:#5645E0 ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;

    border: 1px solid black; /* Cor e espessura da borda */
    border-radius: 22px; /* Valor para bordas arredondadas */
    padding: 11px; /* Espaçamento interno */
    width: 380px; /* Largura do input (ajustável) */

}
.Entrar:active {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra projetada */
}
.insirir{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;

    border: 1px solid black; /* Cor e espessura da borda */
    border-radius: 21px; /* Valor para bordas arredondadas */
    padding: 9px; /* Espaçamento interno */
    width: 300px; /* Largura do input (ajustável) */

}
#Esqueci{
    background-color: #4B97DE;
    border: 0;
}
